name: Reset Actionsflow Cache
on:
  workflow_dispatch:
jobs:
  reset:
    runs-on: ubuntu-latest
    name: Reset Actionsflow Cache
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run Actionsflow Clean
        uses: actionsflow/actionsflow-action@877881186c58832926cbd76fb5674561749f7256 # v1
        with:
          args: clean
          json-secrets: ${{ toJSON(secrets) }}
