# This is a basic workflow to help you get started with Actions

name: RandomTube

# Controls when the action will run. 
on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 30

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      - uses: FedericoCarboni/setup-ffmpeg@36c6454b5a2348e7794ba2d82a21506605921e3d # v3
      - run: ffmpeg -version
      - run: git clone https://github.com/lucasew/randomtube /tmp/randomtube && (cd /tmp/randomtube; go build -v  -o /tmp/rt ./cmd/randomtube)
      - run: /tmp/rt -ms 120 -tg "${{ secrets.MEMETUBE_BOT_TELEGRAM }}" -fe "${{ secrets.MEMETUBE_FETCH_ENDPOINT }}"
